<div class="table-responsive" style="padding:0 30px;">
    <h3 class="text-center">Past Results</h3>
    <div class="text-right"><span class="label label-default" style="cursor:pointer;" (click)="reload()">Refresh</span></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of results">
                <td>{{result.name}}</td>
                <td>{{result.description}}</td>
                <td>{{result.date}}</td>
                <td>
                    <a (click)="view(result.link, result.description + ' - '+ result.name)" class="btn btn-default">View Results</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>