h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.main-form {
    width: 400px;
    border: solid 1px #cecece;
    border-radius: 5px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}