<div class="table-responsive" style="padding:0 30px;">
    <h3 class="text-center">Credit Risk Rating Transition Matrix: <i>{{result_details}}</i></h3>

    <tabset>
        <tab>
            <ng-template tabHeading>Figures</ng-template>
            <div class="text-center strong"><i>Rating at end of period</i></div>
            <div class="row">
                <div class="col-md-1" style="padding-top:150px;">
                    <div style="transform: rotate(-90deg);font-style:italic;">Rating at beginning of period</div>
                </div>
                <div class="col-md-11">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Total at Start</th>
                                <th>AA</th>
                                <th>A1</th>
                                <th>A2</th>
                                <th>B1</th>
                                <th>B2</th>
                                <th>B3</th>
                                <th>B4</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let creditor of creditors">
                                <td *ngFor="let key of keysGetter(creditor)" >
                                    <div *ngIf="key == 'rating'">
                                        <b>{{creditor[key][0]}}</b>
                                    </div>
                                    <div *ngIf="creditor[key][1] && creditor[key][1] != 'false' && key != 'rating'">
                                        {{creditor[key][0]}}
                                    </div>
                                    <div *ngIf="creditor[key][1] && creditor[key][1] == 'false' && key != 'rating'">
                                        {{creditor[key][0]}}
                                    </div>
                                    <div *ngIf="!creditor[key][1] && creditor[key][1] != 'false' && key != 'rating'">
                                        0
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>Percentages</ng-template>
            <div class="text-center strong"><i>Rating at end of period</i></div>
            <div class="row">
                <div class="col-md-1" style="padding-top:150px;">
                    <div style="transform: rotate(-90deg);font-style:italic;">Rating at beginning of period</div>
                </div>
                <div class="col-md-11">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>AA</th>
                                <th>A1</th>
                                <th>A2</th>
                                <th>B1</th>
                                <th>B2</th>
                                <th>B3</th>
                                <th>B4</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let creditor of percmatrix">
                                <td *ngFor="let key of keysGetter(creditor)" >
                                    <div *ngIf="key == 'rating'">
                                        <b>{{creditor[key][0]}}</b>
                                    </div>
                                    <div *ngIf="creditor[key][1] && creditor[key][1] != 'false' && key != 'rating'">
                                        {{creditor[key][1]}}%
                                    </div>
                                    <div *ngIf="creditor[key][1] && creditor[key][1] == 'false' && key != 'rating'">
                                        {{creditor[key][1]}}%
                                    </div>
                                    <div *ngIf="!creditor[key][1] && creditor[key][1] != 'false' && key != 'rating'">
                                        0%
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
    </tabset>

</div>