<form class="main-form">
  <div class="form-group">
    <label for="exampleInputEmail1">
        Welcome to the Metbank Credit Risk Rating Transition Matrix System. Input your data below according to the 
        <a href="app/assets/TransitionMatrixTemplate.csv" download target="_blank">template</a> provided.
    </label>
  </div>
  <div class="form-group">
    <label for="description">Short description</label>
    <input id="description" class="form-control" name="description" [(ngModel)]="file.description"  type="text" placeholder="Short description">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input id="myFileInputField" name="avatar" (change)="upload($event)" type="file" placeholder="Upload file" accept=".csv">
    <!--<p class="help-block">Example block-level help text here.</p>-->
  </div>
  <button type="submit" (click)="submit()" class="btn btn-default">Submit</button>
</form>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Error!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{errorMessage}}</div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #loadingModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">Working...</div>
    </div>
  </div>
</div>